<!DOCTYPE html>
<html lang="pt-br"

<html>
<head>
	<meta charset= "utf-8">
	<title>Eprog</title>
	<style>
	* {
  margin: 0;
  padding: 0;
} 

body {
  background-color: #222;
  font-family: Verdana;
  font-size: 100%;
  color: #fff;
  }

.container {
  width: 1200px;
  padding: 10px;  
  margin: auto;   
  margin-top: 20px;
}

section {
  background-color: #fff;
  color: #333;
  width: 1200px;
  height: 560px;
  margin-left: 10px;
  float: left;
  box-sizing: border-box;
  padding: 10px;    
}

ul.menu {
  list-style-type: none;  
}


.btn {
  width: 120px;
  height: 30px;
  border: 1px solid #ddd;  
}

.inserir{
  /* background-image: url(../_img/icone-salvar.png);*/
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 20px;
  background-color: #425490;
  color: #fff;
  cursor: pointer;
}

.salvar {
  /* background-image: url(../_img/icone-salvar.png); */
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 20px;
  background-color: #46aD7a;
  color: #fff;
  cursor: pointer;
}
  
.limpar {
  /* background-image: url(../_img/icone-salvar.png); */
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 20px;
  background-color: #425490;
  color: #fff;
  cursor: pointer;
}

.excluir {
  /* background-image: url(../_img/icone-salvar.png); */
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 20px;
  background-color: #ad4656;
  color: #fff;
  cursor: pointer;
}


.campinho{
  width: 80px;
  height: 20px;
  border: 1px solid #ddd;  
  background-repeat: no-repeat;
  background-position: 10% 50%;
  /*background-size: 20px;*/
  font-family: Arial;
  color: Black;
  font-size: 15px;
}


.campo {
  width:600px;
  height: 30px;
  font-family: Arial;
  color: Blue;
  font-size: 18px;
  border-radius: 3px;
  margin-top: 3px;
  border: 2px solid #ccc;
  
}
	
	</style>
</head>
<body>


</body>
	<div class="container">
		<section>
			<h3>Editar registro inicial e final do pré e pós teste</h3>
			<hr>
			<br>
			
			<form method="post">
				{% csrf_token %}
				<input type="submit" class="btn salvar" value="Salvar" name="Salvar">
        <input type="submit" class="btn_salvar" value="Sair" name="voltar">
				<br>
      
       .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[registro inicial]
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[registro final]
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[registro inicial]
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[registro final]
       <br>    

       <!--
       Módulo01:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_01">
        {{ form.PreTestePrimeiroModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_01">
        {{ form.PreTesteUltimoModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;      
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_01">
        {{ form.PosTestePrimeiroModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_01">
        {{ form.PosTesteUltimoModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>-->
 Módulo01:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_01">
        {{ form.PreTestePrimeiroModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_01">
        {{ form.PreTesteUltimoModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_01">
        {{ form.PosTestePrimeiroModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_01">
        {{ form.PosTesteUltimoModulo_01.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo02:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_02">
        {{ form.PreTestePrimeiroModulo_02.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_02">
        {{ form.PreTesteUltimoModulo_02.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_02">
        {{ form.PosTestePrimeiroModulo_02.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_02">
        {{ form.PosTesteUltimoModulo_02.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo03:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_03">
        {{ form.PreTestePrimeiroModulo_03.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_03">
        {{ form.PreTesteUltimoModulo_03.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_03">
        {{ form.PosTestePrimeiroModulo_03.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_03">
        {{ form.PosTesteUltimoModulo_03.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo04:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_04">
        {{ form.PreTestePrimeiroModulo_04.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_04">
        {{ form.PreTesteUltimoModulo_04.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_04">
        {{ form.PosTestePrimeiroModulo_04.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_04">
        {{ form.PosTesteUltimoModulo_04.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo05:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_05">
        {{ form.PreTestePrimeiroModulo_05.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_05">
        {{ form.PreTesteUltimoModulo_05.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_05">
        {{ form.PosTestePrimeiroModulo_05.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_05">
        {{ form.PosTesteUltimoModulo_05.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo06:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_06">
        {{ form.PreTestePrimeiroModulo_06.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_06">
        {{ form.PreTesteUltimoModulo_06.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_06">
        {{ form.PosTestePrimeiroModulo_06.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_06">
        {{ form.PosTesteUltimoModulo_06.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo07:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_07">
        {{ form.PreTestePrimeiroModulo_07.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_07">
        {{ form.PreTesteUltimoModulo_07.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_07">
        {{ form.PosTestePrimeiroModulo_07.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_07">
        {{ form.PosTesteUltimoModulo_07.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo08:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_08">
        {{ form.PreTestePrimeiroModulo_08.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_08">
        {{ form.PreTesteUltimoModulo_08.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_08">
        {{ form.PosTestePrimeiroModulo_08.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_08">
        {{ form.PosTesteUltimoModulo_08.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo09:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_09">
        {{ form.PreTestePrimeiroModulo_09.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_09">
        {{ form.PreTesteUltimoModulo_09.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_09">
        {{ form.PosTestePrimeiroModulo_09.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_09">
        {{ form.PosTesteUltimoModulo_09.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo10:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_10">
        {{ form.PreTestePrimeiroModulo_10.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_10">
        {{ form.PreTesteUltimoModulo_10.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_10">
        {{ form.PosTestePrimeiroModulo_10.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_10">
        {{ form.PosTesteUltimoModulo_10.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo11:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_11">
        {{ form.PreTestePrimeiroModulo_11.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_11">
        {{ form.PreTesteUltimoModulo_11.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_11">
        {{ form.PosTestePrimeiroModulo_11.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_11">
        {{ form.PosTesteUltimoModulo_11.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo12:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_12">
        {{ form.PreTestePrimeiroModulo_12.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_12">
        {{ form.PreTesteUltimoModulo_12.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_12">
        {{ form.PosTestePrimeiroModulo_12.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_12">
        {{ form.PosTesteUltimoModulo_12.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo13:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_13">
        {{ form.PreTestePrimeiroModulo_13.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_13">
        {{ form.PreTesteUltimoModulo_13.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_13">
        {{ form.PosTestePrimeiroModulo_13.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_13">
        {{ form.PosTesteUltimoModulo_13.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo14:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_14">
        {{ form.PreTestePrimeiroModulo_14.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_14">
        {{ form.PreTesteUltimoModulo_14.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_14">
        {{ form.PosTestePrimeiroModulo_14.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_14">
        {{ form.PosTesteUltimoModulo_14.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo15:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_15">
        {{ form.PreTestePrimeiroModulo_15.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_15">
        {{ form.PreTesteUltimoModulo_15.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_15">
        {{ form.PosTestePrimeiroModulo_15.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_15">
        {{ form.PosTesteUltimoModulo_15.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo16:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_16">
        {{ form.PreTestePrimeiroModulo_16.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_16">
        {{ form.PreTesteUltimoModulo_16.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_16">
        {{ form.PosTestePrimeiroModulo_16.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_16">
        {{ form.PosTesteUltimoModulo_16.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo17:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_17">
        {{ form.PreTestePrimeiroModulo_17.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_17">
        {{ form.PreTesteUltimoModulo_17.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_17">
        {{ form.PosTestePrimeiroModulo_17.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_17">
        {{ form.PosTesteUltimoModulo_17.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo18:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_18">
        {{ form.PreTestePrimeiroModulo_18.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_18">
        {{ form.PreTesteUltimoModulo_18.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_18">
        {{ form.PosTestePrimeiroModulo_18.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_18">
        {{ form.PosTesteUltimoModulo_18.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo19:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_19">
        {{ form.PreTestePrimeiroModulo_19.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_19">
        {{ form.PreTesteUltimoModulo_19.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_19">
        {{ form.PosTestePrimeiroModulo_19.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_19">
        {{ form.PosTesteUltimoModulo_19.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>

 Módulo20:&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTestePrimeiroModulo_20">
        {{ form.PreTestePrimeiroModulo_20.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pré-Teste:&nbsp;<textarea class="campinho" name="PreTesteUltimoModulo_20">
        {{ form.PreTesteUltimoModulo_20.value }}</textarea>&nbsp;&nbsp;&nbsp;    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTestePrimeiroModulo_20">
        {{ form.PosTestePrimeiroModulo_20.value }}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Pós-Teste:&nbsp;<textarea class="campinho" name="PosTesteUltimoModulo_20">
        {{ form.PosTesteUltimoModulo_20.value }}</textarea>&nbsp;&nbsp;&nbsp;  
        <br>
  

				<br>
			</form>
		</section>
	</div>
</html>
