{% extends 'base.html' %}


{% block content %}
	
	versão: 07/2022<br><br>
	Desenvolvido por:<br><br>
	professor Antonio Maurício Moreno <br> 
	Departamento de Filosofia e Ciências Humanas<br>
	Contato: mauricio_amm@hotmail.com		
	<br><br><br>
	Material programado de Neuroanatomia:<br><br>
	professora Elce Cristina Côrtes Rebouças<br>
	Departamento de Ciências Naturais
	<br><br>
	e
	<br><br>
	Cristiano Santos da Cruz
	<br><br><br>
	
	<div class= "subtitulo">
	 Universidade Estadual do Sudoeste da Bahia - UESB 
	</div>



{% endblock %}



				
	




	














			
							
				
